html {
  text-align: center;
  font-family: Helvetica
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.header {
  background-image: url("/Users/floriansteger/projects/broadway/resources/images/the-flatiron-building.png");
}

.navigation {
  font-size: 18px;
  color: white;
}

#subheader {
  color: white;
}

#footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
